# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/lecture/.idea
.DS_Store
/lecture/.DS_Store

/lecture/*/.idea
/lecture/*/cmake-build-debug

/practice/.idea/
/practice/*/.idea
/practice/*/cmake-build-debug
/java
/lecture/*/.vscode
/lecture/*/main.dSYM
lecture/3_encapsul_inheritance_polymorphism/3_encapsul_inheritance_polymorphism
/trash/*
